<section class="company-card">
  <img class="company-photo" [src]="company.logoImageUrl" alt="Exterior photo of {{company.name}}">
  <h2 class="company-heading">{{ company.name }}</h2>
  <p class="company-location">{{ company.headquarters}}</p>
  <p class="company-rating">Rating: {{ company.rating}}</p>
  <p class="company-companySize">Company Size: {{ company.companySize}}</p>
  <p class="company-industry">Industry: {{ company.industry}}</p>
  <br>
  <p class="company-text">Description: {{ company.description}}</p>
</section>