<section class="company-card">
  <img class="company-photo" [src]="company.logoImageUrl" alt="Exterior photo of {{company.name}}">
  <div class="company-container">
    <h2 class="company-heading" (click)="navigateToCompanyPage(company.id)">{{ company.name }}</h2>
    <img src="./assets/Bookmark.png" class="bookmark-icon">
  </div>
  <p class="company-location">{{ company.headquarters}}</p>
  <p class="company-rating"><b>Rating: </b>{{ company.rating | number: '1.1'}}</p>
  <p class="company-companySize"><b>Company Size: </b>{{ company.companySize | number: '1.0' : 'en-US' }}</p>
  <p class="company-industry"><b>Industry: </b>{{ company.industry}}</p>
  <br>
  <p class="company-text"><b>Description: </b>{{ company.description}}</p>
</section>
