<div class="filters-container">
<div class="searchbar-container">
    <img src="assets/search icon.png" alt="" class="search">
    <input type="text" placeholder="Industry, company, or location" class="searchbar" />
    
</div>
    <div class="headings">
        <h1 class="filter"> Filters </h1>
        <div class="filters">
            <h1 class="filter-headers company-size"> Company Size </h1>
            <div class="range">
                <input type="number" placeholder=" min" class="min" />
                <input type="number" placeholder=" max" class="max" />
            </div>
            <hr>
            <h1 class="filter-headers rating"> Rating </h1>
            <div class="range_container">
                <div class="sliders_control">
                    <mat-slider max="5" min="1" step="0.1" thumbLabel="true">
                        <input [value]="ratingMin" [(ngModel)]="ratingMin" matSliderStartThumb>
                        <input [value]="ratingMax" [(ngModel)]="ratingMax" matSliderEndThumb>
                    </mat-slider>
                </div>
                <div class="rating-text-container">
                    <div>{{ ratingMin | number : '1.1' }}</div>
                    <div>{{ ratingMax | number : '1.1'}}</div>
                </div>
            </div>
            <hr>
            <h1 class="filter-headers industry-type"> Industry Type </h1>
            <select class="industry-dropdown">
                <option value="empty"> </option>
                <option value="business">Business</option>
                <option value="tech">Technology</option>
                <option value="med">Medical</option>
            </select>
            <hr>
            <h1 class="filter-headers location"> Location </h1>
            <select class="location-dropdown">
                <option value="empty"> </option>
                <option>California</option>
                <option>New York</option>
                <option>Remote</option>
            </select>
        </div>
    </div>
</div>