<html>

<head>
    <title>My Page Title</title>
</head>

<body>
    <input type="text" placeholder="my name is erica" />
    <div class="headings">
        <h1 style="margin-bottom: 20px;"> Filters </h1>
        <div class="filters">
            <h1> Company Size </h1>
            <h1> Rating </h1>
            <div class="ratings">
                <div class="low">
                    <div>3.0</div>
                </div>
                <div class=" high">
                    <div>4.5</div>
                </div>
            </div>
            <h1> Industry Type </h1>
            <h1> Location </h1>
        </div>
    </div>
    <form action="">

    </form>
</body>

</html>