<ul class="sidenav">
  <li class="sidenav-option selected">
    <a href="#dashboard"><i class="fas fa-house fa-xl"></i>Dashboard</a>
  </li>
  <li class="sidenav-option">
    <a href="#saved"><i class="fas fa-bookmark fa-xl"></i> Saved</a>
    <span class="counter" *ngIf="dataService.savedCounter > 0">({{ dataService.savedCounter }})</span>
  </li>
  <li class="sidenav-option">
    <a href="#services"><i class="fas fa-screwdriver-wrench fa-xl"></i>Services</a>
  </li>
  <li class="sidenav-option">
    <a href="#settings"><i class="fas fa-gear fa-xl"></i>Settings</a>
  </li>
</ul>