<ul class="sidenav">
  <li (click)="toExploreCompanies()">
    <a href="#dashboard" [class.active]="selectedMenuItem === 'home'"><i class="fas fa-house fa-xl"></i>Dashboard</a>
  </li>
  <li class="sidenav-option" (click)="toSavedCompanies()">
    <a href="#saved" [class.active]="selectedMenuItem === 'saved'"><i class="fas fa-bookmark fa-xl"></i> Saved</a>
    <span class="counter" *ngIf="dataService.savedCompaniesSize > 0" [class.active]="selectedMenuItem === 'saved'">({{
      dataService.savedCompaniesSize }})</span>
  </li>
  <li class="sidenav-option">
    <a><i class="fas fa-screwdriver-wrench fa-xl"></i>Services</a>
  </li>
  <li class="sidenav-option">
    <a><i class="fas fa-gear fa-xl"></i>Settings</a>
  </li>
</ul>