<ul class="sidenav">
  <li (click)="toExploreCompanies()">
    <a href="#dashboard" [class.active]="active"><i class="fas fa-house fa-xl"></i>Dashboard</a>
  </li>
  <li (click)="toSavedCompanies()">
    <a href="#saved" [class.active]="!active"><i class="fas fa-bookmark fa-xl"></i>Saved</a>
  </li>
  <li class="sidenav-option">
    <a><i class="fas fa-screwdriver-wrench fa-xl"></i>Services</a>
  </li>
  <li class="sidenav-option">
    <a><i class="fas fa-gear fa-xl"></i>Settings</a>
  </li>
</ul>