body {
    margin: 0; /* Add this line to remove default body margin */
  }
  
  .sidenav {
    width: 206px;
    height: 35%; /* Change height to 100% to cover the entire height of the body */
    text-align: center; /* Change text-align to left */
    z-index: 1;
    top: 0; /* Change top to 0 */
    left: 0; /* Change left to 0 */
    background: #ffffff;
    padding: 15px 0;
    border-radius: 20px;
    box-shadow: 2px 0 5px hsla(240,7%,62%,1); /* Add box-shadow for a subtle border effect */
  }
  
  .sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px; /* Adjust font size for better proportion */
    color: #B1B1B1;
    display: block;
  }
  