<div class="topnav">
    <div class="icon-section">
        <div class="container">
            <a href="#">
                <img src="https://cdn.glitch.global/ded193ae-f458-462d-89c8-8ba5d77cd8bb/linkedin.png?v=1704836822604"
                    class="linkedin-logo" /></a>
        </div>
        <div class="container">
            <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a>
        </div>
        <div class="container">
            <a href="#home"><i class="fa-solid fa-house-chimney"></i><span>Home</span></a>
        </div>
        <div class="container">
            <a href="#"><i class="fa-solid fa-users"></i><span>My Network</span>
            </a>
        </div>
        <div class="container selected">
            <a class="active" href="#">
                <i class="fa-solid fa-suitcase"></i><span>Jobs</span>
            </a>
        </div>
        <div class="container">
            <a href="#"><i class="fa-solid fa-message"></i><span>Messaging</span>
            </a>
        </div>
        <div class="container">
            <a href="#"><i class="fa-solid fa-bell"></i><span>Notifications</span>
            </a>
        </div>
        <div class="container">
            <a href="#"><i class="fa-solid fa-user"></i>
                <div>
                    Me
                    <span class="down-arrow">▼</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="#"><img
                    src="https://cdn.glitch.global/ded193ae-f458-462d-89c8-8ba5d77cd8bb/linkedinrightside.png?v=1704916056611"
                    class="right-img" /></a>
        </div>
    </div>
</div>