<section class="company-card">
  <img src="./assets/user_blank.png" class="user-blank">
  <div class="company-container">
    <h2 class="company-heading">{{ experience.authorFullName }}</h2>
  
  <div class="">
    <div class="">
      <p class="experience-location">Location: {{ experience.location}}</p>
      <p class="experience-rating">{{ experience.applicationProcess }}</p>
      <p class="experience-rating">{{ experience.interviewExperience }}</p>
    </div>
    <div class="">
      <p class="experience-rating">Received Offer: {{ experience.receivedOffer }}</p>
      <p class="experience-rating">Accepted Offer: {{ experience.acceptedOffer }}</p>
      <p class="experience-rating">Difficulty: {{ experience.isDifficult }}</p>
    </div>
    <div class="">
      <p class="experience-rating">People found this helpful: {{ experience.foundHelpfulCount }}</p>
    </div>
  </div></div>
</section>