.company-card {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #888;
  padding: 20px;
  width: 300px;
  /* padding-bottom: 24px; */
}

.company-heading {
  margin-right: 25px;
  color: var(--primary-color);
  font-size: 10px;
  
  /* padding: 10px 20px 0 20px; */
}

.company-text {
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.company-photo {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  object-fit: cover;
  float: left;
  background: lightgray 0px 0px / 100% 100% no-repeat, #FFF;
  padding: 20px;
  position: relative;
}

.company-location::before {
  content: url("/assets/location-pin.svg") / "";
}

.bookmark-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.company-container {
  display: flex;
}

img {
  width: 30px;
  height: 30px;
}

p {
  font-size: 11px;
}