<section>
    <div class="company-container">
      <h2 class="company-heading">{{ experience.authorFullName }}</h2>
    </div>
    <p class="company-location">{{ experience.location }}</p>
    <!-- <p class="company-rating"><b>Rating: </b>{{ company.rating }}</p>
    <p class="company-companySize"><b>Company Size: </b>{{ company.companySize }}</p>
    <p class="company-industry"><b>Industry: </b>{{ company.industry}}</p>
    <br>
    <p class="company-text"><b>Description: </b>{{ company.description}}</p> -->
  </section>