.job-card {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}

.container i{
  flex-shrink: 0;
  object-fit: cover;
  float: left;
  background: lightgray 0px 0px / 100% 100% no-repeat, #FFF;
  padding: 20px;
}