.big-container {
  position: relative;
  display: flex;
}

.experience-card {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 300px;
  border: 1px solid rgba(204, 204, 204, 0.80);
  background: #FFF;
  border-radius: 5px;
  padding: 13px;
  /* padding for container texts */
  margin: 5px;
  /* margin spacing for each experience displayed */
}

.experience-name {
  margin-right: 25px;
  color: var(--primary-color);
  font-size: 12px;
  width: 100px;
  cursor: pointer;
  /* padding: 10px 20px 0 20px; */
}

.experience-text {
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.experience-photo {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  object-fit: cover;
  float: left;
  background: lightgray 0px 0px / 100% 100% no-repeat, #FFF;
  padding: 20px;
  position: relative;
}

.experience-container {
  display: flex;
}

img {
  margin-top: 4px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

p {
  font-size: 11px;
}

.user-profile {
  width: 100px;
  text-align: center;
  margin-left: 25px;
}

.experience-experience {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.experience-feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.experience-feedback p {
  
}

.experience-helpful {
  position: relative;
  display: flex;
  padding-top: 10px;
  justify-content: right;
}
.experience-helpful p {
  font-size: 9px;
  justify-content: right;
}

.experience-experience-container {
  width:420px;
}

.experience-star-rating {
  font-size: 12px;
  color: rgba(132, 132, 132, 0.8);
  padding-bottom: 5px;
}

.star-filled {
  color: gold;
}
.star-empty {
  color: #ccc; /* Empty star color */
}

