:host {
  /* --content-padding: 10px; */
}

.content {
  padding: var(--content-padding);
  background: #F4F2EE;
}

.navbar {
  display: flex;
}

.welcome-header {
  float: right;
  font-size: xx-large;
  color: blue;
}

.nav-img {
  margin: auto;
}