<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<section>
  <div>
    <app-left-sidebar-menu></app-left-sidebar-menu>
  </div>
  <div class="container">
    <h1 class="heading">Explore Companies</h1>
    <p class="subtitle">Based on your profile and search history</p>
    <div class="company-card">
      <app-company *ngFor="let company of companiesList" [company]="company">
      </app-company>
    </div>
  </div>
  <div>
    <div class="container-suggested">
      <h1 class="heading-suggested">Suggested Companies</h1>
      <div class="company-card">
        <app-suggested-companies *ngFor="let company of companiesList" [company]="company"></app-suggested-companies>
      </div>
    </div>
  </div>
</section>