<div class="company-background">
  <img class="element" src="assets/tiktok-background.png" alt="Company Background Image" />
  <div class="logo">
    <img class="img" src="assets/tiktok.svg" alt="Company Logo" />
    <div class="company-name">TikTok</div>  
    <div class="company-rating">3.5 <i class="fa-solid fa-star"></i></div>
    <div class="company-reviews">2,640 company reviews</div>
    <div class="company-bio">Find out what people are saying about TikTok’s interviews</div>
    <input type="text" placeholder="       Positions or type" class="searchbar" />
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
</div>
</div>

<app-job></app-job>