.container {
  margin-top: 50px;
  /* Adjust the margin-top value as needed */
}

.company-background {
  position: relative;
  width: 1165px;
  height: 192px;
  margin: 0 auto;
  grid-column-start: 2;
  grid-column-end: 6;
  /* Center the element horizontally */
}

.element {
  width: 100%;
}

.scrollbar {
  width: 660px;
  height: 450px;
  flex-shrink: 0;
  overflow: scroll;
  scrollbar-width: 10px;
  scroll-behavior: auto;
}

.logo {
  width: 140px;
  height: 140px;
  bottom: 0;
  left: 0;
  margin-top: -106px;
  margin-left: 62px;
  font-family: Inter, var(--default-font-family);
}

.img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.company-name {
  color: #000000;
  position: absolute;
  width: 800px;
  height: 39px;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  top: 137%;
  left: 41.5%;
  transform: translate(-50%, -50%);
}

.company-rating {
  position: relative;
  color: #000000;
  width: 800px;
  height: 39px;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  top: 0px;
  left: -20px;
  transform: translate(-145px, 10px);
  text-align: right;
}

.company-reviews {
  position: relative;
  width: 800px;
  height: 15px;
  font-family: Inter, var(--default-font-family);
  font-weight: 800;
  color: #0A66C2;
  font-size: 12px;
  line-height: 14.523px;
  top: -3px;
  left: 29px;
  transform: translate(-145px, 10px);
  text-align: right;
}

.company-bio {
  width: 542px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  color: #000000;
  position: relative;
  top: 11px;
  left: 21px;
}

.searchbar {
  width: 616px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.80);
  background: white;
  position: relative;
  top: 20px;
  left: 22px;
  margin: 0 auto;
}

.search-icon {
  font-size: 24px;
  color: #000000;
  position: relative;
  top: -8px;
  left: 605px;
}

.job-container {
  position: relative;
  top: 10px;
  left: 22px;
}

.container-suggested {
  width: 393px;
  flex-shrink: 0; 
  border-radius: 20px;
  border: 1px solid rgba(204, 204, 204, 0.80);
  background: #FFF;
  color: #CCCCCCCC;
  padding-bottom: 10px;
  height: 282px;
  flex-shrink: 0;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 12;
}

.heading-suggested {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 36px;
  margin-top: 30px;
}

.experiences-overlay-container{
  position:absolute;
  top: 52px;
  right: 0;
}

.parent-container {
  display: grid;
  grid-template-columns: 58px 78px 618px 78px 393px 58px;
  grid-template-rows: 225px 34px 21px 14px 24px 15px 32px 17px 38px 1fr 33px;
  justify-content: center;
}

.attributes-container {
  width: 393px;
  height: 205px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #CCC;
  background: #FFF;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
}

.attribute-container {
  display: flex;
  justify-content: space-between;
  width: max-content;
  column-gap: 5px;
  align-items: center;
}

.attributes-heading {
  margin: 29px 29px 20px 29px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.attributes-format {
  margin: 0 29px 0 29px;
  display: flex;
  flex-wrap: wrap;
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 23px 40px;
}