.container-suggested {
  width: 393px;
  flex-shrink: 0; 
  border-radius: 20px;
  border: 1px solid rgba(204, 204, 204, 0.80);
  background: #FFF;
  color: #CCCCCCCC;
  padding-bottom: 10px;
}

.heading-suggested {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 36px;
  margin-top: 30px;
}