.company-card {
    padding: 5px;
    margin-left:10px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    /* padding-bottom: 24px; */
}

.company-heading {
    flex-shrink: 0;
    color: var(--primary-color);
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* padding: 10px 20px 0 20px; */
}

p {
    color: #000;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 10px;
}

.company-photo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    object-fit: cover;
    background: lightgray 0px 0px / 100% 100% no-repeat, #FFF;
    padding-right: 30px;
}

.company-container {
    display: flex;
}